<% content_for(:title, '免責事項|CATching') %>

<div class='content  m-5'>
  <h1 class='title p-4'>免責事項</h1>
  <div class='row'>
    <div class='col-lg-8 offset-lg-2 py-5'>
      <div class='pages'>
        <p>本ウェブサイトは、YouTubeの猫動画のまとめサイトです。</p>
        <h3>免責事項</h3>
        <p>当サイトを利用したウェブサイトの閲覧や情報収集については、著作権、名誉毀損、に関する法規とその他法令上の義務に従うことなど、ユーザーご自身の責任において行なっていただきますようお願い致します。</p>
        <p>当サイトのご利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないもととします。</p>
        <p>当サイトが紹介している猫動画の合法性、正確性、道徳性、最新性、適切性、著作権の許諾や有無など、その内容については一切の保証を致しかねます。</p>
        <p>当サイトからリンクやバーナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。</p>
      </div>
    </div>
  </div>
</div>