<% content_for(:title, '規約一覧|CATching') %>

<div class='content  m-5'>
  <h1 class='title p-4'>規約一覧</h1>
  <div class='row'>
    <div class='col-lg-8 offset-lg-2 py-5'>
      <div class='pages'>
        <%= link_to '利用規約', page_path('terms_of_use'), class: 'list-of-rules my-1' %>
        <%= link_to 'プライバシーポリシー', page_path('privacy_policy'), class: 'list-of-rules my-1' %>
        <%= link_to '免責事項', page_path('disclaimer'), class: 'list-of-rules my-1' %>
      </div>
    </div>
  </div>
</div>