<% content_for(:title, "詳細検索 | CATching") %>

<div class='content m-5'>
  <h1 class='title p-4'>詳細検索</h1>

  <div class='row'>
    <div class='col-lg-10 offset-lg-1 py-5'>
      <div class='search_box'>
        <span class='box-title'>猫の種類</span>
        <!-- ここに検索画面 -->
      </div>
      <div class='search_box'>
        <span class='box-title'>毛色</span>
        <!-- ここに検索画面 -->
      </div>
      <div class='search_box'>
        <span class='box-title'>足の長さ</span>
        <!-- ここに検索画面 -->
      </div>
      <div class='search_box'>
        <span class='box-title'>性格</span>
        <!-- ここに検索画面 -->
      </div>
    </div>
  </div>
</div>